name: Run Pytest

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      -name: Checkout code
        uses: actions/checkout@v4

      -name: set up Python
        uses: actions/setup-python@v4

      -name: Install dependencies
        run: pip install -r required.txt

      -name: Run tests
        run: pytest

        
        
